numpy>=1.12, <=1.16.4 ; python_version<"3.5"
numpy<=1.19.4 ; platform_machine ==  "aarch64"
shapely==1.8.0
wheel>=0.34.0, <0.35.0
setuptools>=44.1.0
google>=2.0.3
protobuf>=3.12.2
grpcio-tools==1.33.2
grpcio>=1.28.1
func-timeout>=4.3.5
pyyaml>=5.1
flask>=1.1.2
click==7.1.2
itsdangerous==1.1.0
Jinja2==2.11.3
pyclipper==1.2.1
MarkupSafe==1.1.1
Werkzeug==1.0.1
ujson>=2.0.3
sentencepiece==0.1.96; platform_machine !=  "aarch64"
sentencepiece; platform_machine ==  "aarch64"
opencv-python==3.4.17.61; platform_machine !=  "aarch64"
opencv-python; platform_machine == "aarch64"
pytest==7.0.1
prometheus-client==0.12.0
pillow==8.4.0 ; python_version == "3.6"
pillow==9.0.0 ; python_version > "3.6"
av==8.0.3; platform_machine !=  "aarch64"
decord==0.4.2; platform_machine !=  "aarch64"
SimpleITK; platform_machine !=  "aarch64"

