rpc_port: 18080
worker_num: 4
build_dag_each_worker: false
http_port: 9999
dag:
    is_thread_op: false
    retry: 1
    use_profile: false
op:
    det:
        concurrency: 2
        local_service_conf:
            client_type: local_predictor
            model_config: ocr_det_model
            devices: ""
    rec:
        concurrency: 1
        timeout: -1
        retry: 1
        local_service_conf:
            client_type: local_predictor
            model_config: ocr_rec_model
            devices: ""
